<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<h1>Users</h1>
<table>
  <thead>
    <thead>
      <tr>
        <th>Email</th><th>Role</th>
      </tr>
    </thead>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td>
        <%= form_tag("/admin/" + user.id.to_s + "?role=manager", method: :PUT) do %>
          <input type="submit" value="Make Manager"/>
        <% end %>
      </td>
      <td> <%=user.roles.last.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
