<h1>Welcome to Apartment Listings</h1>
<form action="apartments/find" method="post">
  <input type="text" name="street" value="Street">
  <input type="text" name="city" value="City">
  <input type="submit" name="" value="Find Apartment">
</form>
