<h1>Welcome to Apartment Listings</h1>
<form action="apartments/find" method="post">
  <input type="text" name="street" placeholder="Street">
  <input type="text" name="city" placeholder="City">
  <input type="submit" name="" value="Find Apartment">
</form>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
